<ion-app>

  <ion-split-pane contentId="main-content">
    
  <ion-menu side="start" type="push" contentId="main-content" type="overlay">
    <ion-content>
      
      <ion-list id="inbox-list">
      <ion-toolbar color="danger">
        <ion-list-header>Acount</ion-list-header>
        <ion-note>popo62520908@gmail.com</ion-note>
      </ion-toolbar>
          <ion-menu-toggle auto-hide="false" >
            <ion-item (click)="openProfile()" button="true" detail="false">
              <ion-icon name="book-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-item>
          <ion-item (click)="signOut()" button="true" detail="false">
            <ion-icon name="people-outline"></ion-icon>
                <ion-label>Friends</ion-label>
              </ion-item>
              <ion-item (click)="signOut()" button="true" detail="false">
                <ion-icon name="cart-outline"></ion-icon>
                  <ion-label>Store</ion-label>
                </ion-item>
                <ion-item routerLink="/home" routerDirection="root" (click)="gotoHomeByRouter()" detail="false">
                  <ion-icon name="card-outline"></ion-icon>
                    <ion-label>Credit Card</ion-label>
                  </ion-item>      
                <ion-item (click)="signOut()" button="true" detail="false">
                  <ion-icon name="cart-outline"></ion-icon>
                    <ion-label>Help</ion-label>
                  </ion-item>
                  <ion-item (click)="presentAlertConfirm()" button="true" detail="false">
                    <ion-icon name="log-out-outline"></ion-icon>
                      <ion-label>Logout</ion-label>
                    </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>

  </ion-app>