<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container2">

    
          <ion-list>Your Profile</ion-list>
          <ion-avatar class="avatars">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <strong>Rio</strong>
          <ion-list>30</ion-list>
   
  </div>
    <div id="container3">

      <div id="PhotoButton">
          <ion-fab horizontal="center" vertical="center" slot="fixed">
            <ion-fab-button color="danger">
              <ion-icon name="camera-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list>
              <ion-fab-button color="light">
                <ion-icon name="logo-facebook"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="light">
                <ion-icon name="logo-twitter"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="light">
                <ion-icon name="logo-vimeo"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
            <p>Photo</p>
          </ion-fab>
    
          <!-- <ion-fab-list>
            <ion-fab-button color="light">
              <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light">
              <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light">
              <ion-icon name="logo-vimeo"></ion-icon>
            </ion-fab-button>
          </ion-fab-list> -->
          <!-- <ion-list-header>Photo</ion-list-header> -->
          
        
      </div>
      <div id="SettingButton">
        <ion-fab horizontal="center" vertical="center" slot="fixed">
          <ion-fab-button color="medium">
            <ion-icon name="settings-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-list>
            <ion-fab-button color="light">
              <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light">
              <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light">
              <ion-icon name="logo-vimeo"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
          <p>Setting</p>
        </ion-fab>
      </div>
    
      <div id="EditButton">
        <ion-fab horizontal="center" vertical="center" slot="fixed">
          <ion-fab-button color="medium">
            <ion-icon name="pencil-sharp"></ion-icon>
          </ion-fab-button>
          <ion-fab-list>
            <ion-fab-button color="light">
              <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light">
              <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light">
              <ion-icon name="logo-vimeo"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
          <!-- <ion-text>Photo</ion-text> -->
          <p>Photo</p>
        </ion-fab>
      </div>
    </div>

  <div id="container">
    <strong>Talkative</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

</ion-content>